nav-bar {
  background: #181818;
  width: 45px;
  height: 60px;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 60px;
  
}

.logo {
  display: block;
  display: flex;
  padding-top: 7px;
  font-size: 80px;
  align-items: center;
  justify-content: center;
}
  img {
    display: block;
    margin: 9px auto;
    width: 220px;
    height: auto;
  }

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 24vh;
  width: 100%;
  }
 a {
    font-size: 45px;
    padding: 5px;
    color: #008080;
    display: block;
    line-height: 30px;
    height: 45px;
    position: relative;
 }

h2{
  display: block;
  display: flex;
  padding-top: 7px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

h1{
  display: block;
  display: flex;
  padding-top: 7px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}


// body {
//   background: url(../../assets/images/night.gif) no-repeat center center fixed;
//   background-size: cover;
// }
