.home {

    .text{
        position: absolute;
    }

    h1{
        font-size: 68px;
        margin: 0;
        justify-content: center;
    }
}

body {
    background: url(../../assets/images/night.gif) no-repeat center center fixed;
    background-size: cover;
  }
